services:
  - type: web
    name: brain-tumor-api
    env: docker
    dockerfilePath: ./Dockerfile
    plan: free
    autoDeploy: true

  - type: web
    name: mlop-ui
    env: docker
    dockerfilePath: ./deploy/Dockerfile.ui
    plan: free
    autoDeploy: true

